body {
  color: black;
}

.movie {
  margin-top: 10%;
}

.movie-picture {
  margin-left: 52.5%;
}

.movie-group, .movie-picture, .movie-card {
  border: none;
  color: white;
}

.label {
  font-weight: bold;
}