$primary-color: #405d27;

body {
  color: black;
  display: flex;
  justify-content: center;  
  background-color: $primary-color;
  font-family: 'Spartan', sans-serif;
}

.main-view-cards {
  margin-left: 10%;
  margin-top: 2.5%;
}

.fourZeroFour {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 80px;
}

.filter {
  margin-top: -1%;
}